@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); /*https://fonts.google.com/selection/embed*/

body{
    font-family: 'Poppins', sans-serif;
    background-color: #dad7cd;
}
.heading1{
    text-align: center;
    color: #4B6F44;
    letter-spacing: 8px;
    
}
.article {
    background-color: #fff;
    padding: 10px 5%;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
.main{
    padding: 2% 10%;
}
.article p{
    font-size: 25px;
    text-align: justify;
}

h1{
    font-size: 60px;
}
h2{
    color: #4B6F44;
    letter-spacing: 5px;
    text-align: center;
    font-size: 50px;
}
h3{
    color: #4B6F44;
    letter-spacing: 5px;
    padding-left: 30px;
    font-size: 30px;
}
h4{
    padding-left: 30px;
    color: #4B6F44;
    font-size: 26px;
   
}
.img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    
    border-radius: 8px;
    }
        
    .paragraph {
        font-family: Arial;
        font-size: 16px;
        padding-left: 70px;
        padding-right: 60px;
        color: black;
        font-size: larger;
        font-weight: 400;
    }
        
.main ul, .main ol {
    margin-bottom: 15px;
    padding-left: 80px;
    font-size: 25px;
    font-weight: 400;
}

.li{
    margin-left: -1%;
}
li {
    
    margin-bottom: 5px;
    }
    /* Footer styles */